[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
earthengine-api = "*"
ipykernel = "*"
matplotlib = "*"
ipython = "*"
nbstripout = "*"
mkdocs="*"
pytest="*"
cookiecutter="*"
mkdocs-cinder="*"
utm = "*"
notebook = "*"
rasterio = "*"
pyproj = "*"
jupyter-contrib-nbextensions = "*"
black = {extras = ["jupyter"], version = "*"}

[requires]
python_version = "3.8"
